In [23]:
#Import Relevant Libraries
import pandas as pd
from bs4 import BeautifulSoup as BS
import requests
from splinter import Browser
from Driver import chromedriver

In [2]:
executable_path = {'executable_path': 'chromedriver' }
browser = Browser('chrome', **executable_path, headless=False)

# NASA Mars News

In [ ]:
#URL to be scraped
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
#Retrieve page with request module
response = requests.get(url)
#Create a Beautiful Soup object
mars_soup = BS(response.text, 'lxml')

In [ ]:
print(len(mars_soup.find_all('div',{'class':'content_title'})))

In [ ]:
#Loop with a try and catch error block that pasres through the NASA data soup to print all titles and summary paragraphs
for i in range(0, len(mars_soup.find_all('div',{'class':'content_title'}))):
    #error handling
    try:
        #Identitfy title and return
        news_title = mars_soup.find_all('div', {'class':'content_title'})[i].text.strip()
        #Find and return and article descriptions
        news_p = mars_soup.find_all('div',{'class':'rollover_description_inner'})[i].text.strip()
    
        #Print if title and paragraph are available
        if (news_title and news_p):
            print('--------------')
            print(f'{news_title}')
            print(f'{news_p}')
    
    except AtrributeError as e:
        print(e)

# JPL Mars Space Images - Featured Image

In [ ]:
#URL to be scraped
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
#Retrieve page with request module
browser.visit(url)

In [ ]:
html = browser.html
jpl_soup = BS(html, 'lxml')

In [ ]:
# pull images from website
images = jpl_soup.find_all('a', class_="fancybox")

In [ ]:
# pull image link
image_url = []

#Loop through image list and capture urls of large images
for image in images:
    #Try and catch block to catch all image links and print if not throw an error
    try:
        pic = image['data-fancybox-href']
        image_url.append(pic)
    
        if(pic):
            print('--------------')
            featured_image_url = 'https://www.jpl.nasa.gov' + pic
            print(f'Find features JPL image at the following link:  {featured_image_url}')
        
       
    except AtrributeError as e:
        print(e)

# Mars Weather

In [3]:
url = 'https://twitter.com/marswxreport?lang=en'
#Retrieve page with request module
browser.visit(url)

In [4]:
#Save response in variable
html1 = browser.html
#Use Beautiful soup to parse through twitter html
weather_soup = BS(html1, 'html.parser')

In [16]:
#Search to find all weather related portions of the html soup
weather = weather_soup.find_all("span",{"css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0"})

In [21]:
#Loop through the possible weather reports, number each one to identify the lastest weather report from Mars
#for i in range(0, len(weather)):
    #print(i, weather[i])

In [20]:
#Save weather report in variable
mars_weather = weather[47].text.strip()

# Mars Facts

In [27]:
url = 'https://space-facts.com/mars/'
#Retrieve page with request module
mars_facts = pd.read_html(url)

In [28]:
#Print response list
mars_facts

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [36]:
#Convert response list to dataframe
df = mars_facts[0]

In [37]:
#Print dataframe
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [39]:
#Convert dataframe to html
mars_facts_html = df.to_html()

In [40]:
#Mars facts html
mars_facts_html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

# JPL Mars Space Images - Featured Image